<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBBJUk5J5Hc8f2JmhPZLQC_vxzUBP8t1B0</string>
	<key>GCM_SENDER_ID</key>
	<string>28908586312</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.emtelek</string>
	<key>PROJECT_ID</key>
	<string>emtelek-77a0e</string>
	<key>STORAGE_BUCKET</key>
	<string>emtelek-77a0e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:28908586312:ios:02dc9a6087c9c78447df7d</string>
</dict>
</plist>